{% extends "base.html" %}
{% block body %}
    <h2>Register</h2>
    <form action="{{url_for('change_password')}}" method="post">
        <table>
            <tr>
                <td>Old Password:</td>
                <td><input type="text" name="old_password" /></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="text" name="new_password"/></td>
            </tr>
            <tr>
                <td>New Password (Repeat):</td>
                <td><input type="text" name="new_password_2" /></td>
            </tr>
        </table>
        <input type="hidden" name="username" value={{session['username']}}>
        <input type="submit" value="Submit" />
        
    </form>
    
{% endblock %}
{% block nav %}
<li><a href="{{url_for('login')}}">back</a></li>
{% endblock %}
